.container {
    position: absolute;
    box-sizing: content-box;
    width: 300px;
    height: 350px;
    left: calc(50% - 350px/2);
    bottom: 138px;
    top: 308px;
    background: rgba(50, 42, 42, 0.45);
    border-radius: 16px;
}

.title-sign-in {
    position: relative;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    top: 16px;
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #eae9e9;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 250px;
    height: 30px;
    left: 12px;
    top: 180px;
    background: #ffffff;
    border-radius: 16px;
}

.btn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 25px;
    gap: 10px;
    position: absolute;
    width: 260px;
    height: 50px;
    left: 18px;
    top: 270px;
    background: #5072ca;
    border-radius: 16px;
    justify-content: center;

}

.sign-in-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    position: absolute;
    left: 30px;
    top: 430px;
    color: #d3ddef;
    font-weight: 100;
    font-size: 16px;
    justify-content: center;


}

.text-height {
    color: #ffffff;
    font-weight: 100;
    font-size: 25px;
}