/* Navbar container */
.navbar {
    width: 100%;
    height: 70%;
    position: absolute;
    align-items: center;
    padding: 10px 10px;
    overflow: hidden;
    background-color: transparent;
    font-family: Arial;
    padding: 10;
    transition: all 0.5s ease;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    box-shadow: #505152;
    transition: all 0.5s ease;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    border-radius: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-family: 'Changa', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    background-color: inherit;
    margin: 0; 
    transition: all 0.5s ease;
  }

  #navbar.active .dropdown .dropbtn{
    color: rgb(221, 221, 221);
    transition: all 0.3s ease;
}
  
  /* Add a gray background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(179, 179, 179);
    transition: all 0.5s ease;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(179, 179, 179);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    transition: all 0.5s ease;
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all 0.5s ease;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    transition: all 0.5s ease;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.5s ease;
  } 

  /* Search bar*/
.navbar input[type=text]{
    left: 500px;
    float: right;
    display: flex;
    text-align: left;
    padding: 14px;
    font-size: 12px;
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
    transition: all 0.5s ease;
}

#darkMode{
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: x-large;
  color: rgb(43, 43, 43);
  transition: all 0.5s ease;
}

#darkMode.active{
  color: rgb(221, 221, 221);
  transition: all 0.3s ease;
}

.moonBox{
  float: right;
  width: max-content;
  height: max-content;
  display: flex;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  transition: all 0.5s ease;
}

#loginBtn{
  font-size: x-large;
  cursor: pointer;
  float: right;
  width: 30px;
  height: 30px;
  color: rgb(43, 43, 43);
  transition: all 0.5s ease;
}

#loginBtn.active{
  color: rgb(221, 221, 221);
  transition: all 0.3s ease;
}

.login{
  float: right;
  height: max-content;
  width: max-content;
  padding: 10px;
  transition: all 0.5s ease;
}

body.active{
  background: rgb(61, 61, 61);
  transition: all 0.5s ease;
}

body.active .toggle{
    position: relative;
    width: 50px;
    height: 20px;
    transition: all 0.5s ease;
}