main {
  margin: 0 auto;
}

#text-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  z-index: 10;
}

.text-search-results {
  min-height: 10rem;
}

@media (min-width: 600px) {
  .text-search-results {
    width: 57%;
  }
}

.text-search-results-total {
  font-size: 1.2rem;
}
.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.previous-button,
.next-button,
.text-search-button {
  display: none;
  background: var(--blue-primary);
  color: var(--white);
  border: 1px solid var(--blue-primary);
  border-radius: 5px;
  width: 50px;
  height: 30px;
  line-height: 1rem;
  align-self: center;
  cursor: pointer;
}
.previous-button:disabled,
.next-button:disabled {
  background-color: var(--disabled);
  color: var(--white);
  border: 1px solid var(--disabled);
  cursor: not-allowed;
}
.text-search-button {
  display: inline-block;
  width: 60px;
}

.text-search-input {
  width: 70%;
  color: var(--blue-secondary);
  border: none;
  border-bottom: 1px solid var(--blue-primary);
  margin: 0 0.5rem;
}

@media (min-width: 600px) {
  .text-search-input {
    width: 50%;
  }
}

.text-search-form {
  width: 100%;
  z-index: 100;
}

#about,
#quick-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#quick-facts span {
  color: var(--blue-primary);
  font-weight: bold;
  font-size: 1.8rem;
  padding-right: 20px;
}

@media (min-width: 600px) {
  #about,
  #quick-facts {
    width: 70%;
    line-height: 4rem;
  }
}

#filmography,
#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.filmography-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}

@media (min-width: 1000px) {
  .filmography-images {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
#filmography img {
  height: 300px;
  width: 500px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(6, 22, 148, 0.2),
    0 6px 20px 0 rgba(3, 41, 125, 0.19);
  transition: transform 0.25s ease;
}

#filmography img:hover {
  transform: scale(1.5);
}

@media (min-width: 600px) {
  #filmography {
    width: 70%;
    line-height: 4rem;
  }
}

section h2 {
  color: var(--blue-primary);
  margin-bottom: 2rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.gallery-photo {
  height: 300px;
  width: 300px;
}
@media (min-width: 600px) {
  .gallery-photo {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}

.gallery-photo img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(6, 22, 148, 0.2),
    0 6px 20px 0 rgba(3, 41, 125, 0.19);
  transition: transform 0.8s ease;
}

.gallery-photo img:hover {
  height: 300px;
  width: 300px;
  object-fit: contain;
  box-shadow: 0 4px 8px 0 rgba(6, 22, 148, 0.2),
    0 6px 20px 0 rgba(3, 41, 125, 0.19);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1);
}

@media (min-width: 600px) {
  .gallery-photo img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}
@media (min-width: 600px) {
  .gallery {
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
